html{
    margin: 0;
    padding: 0;
}

head{
    margin:0;
    padding:0;
}

h3{
    font-family: helvetica;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    
}

body{
    margin:0;
    padding: 0;
}

.u-max-full-width {
    width: 100vw;
    margin: 0;
    padding: 0;
}

#text{
    height: 1500px;
}

p{
    padding-right: 50px;
    padding-top: 10px;
}

h6{
    text-align: center;
    font-family: "helvetica";
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: fuchsia;
}

#didascalie{
    font-family: "helvetica";
    font-size: 12px;
    height: 3200px;
    
}



div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top:0px;

}

div.sticky p{
   font-family: "garamond";
    max-width: 700px;
    font-size: 18px;
    padding-left: 50px;
    text-decoration: none;
    color: black;
}

img{
    width: 500px;
}

#fine{
    font-family: "helvetica";
    text-align: center;
    font-size: 12px;
    padding-bottom: 30px;
    
}
